.card{
  width: 18rem;
}
.card-title{
  text-align: center;
}

.price{
 padding-left: 6rem;
}
li{
  list-style-type: none;
  display: inline;
  
}

span{
  font-size: 13px;
}



.prodDetails{
  display: inline;
}


